---
const { title } = Astro.props;
import "../../styles/global.css";
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<title>{title}</title>
<meta name="title" content="UrEyes" />
<meta
  name="description"
  content="UrEyes adalah aplikasi web modern yang dirancang untuk pecinta film. Dibangun dengan performa dan interaktivitas sebagai prioritas, aplikasi ini memungkinkan pengguna untuk menjelajahi film populer, mencari judul favorit, serta mengelola daftar tontonan (Playlist) dan film yang disukai (Likes) secara personal."
/>
<meta property="og:type" content="website" />
<meta property="og:url" content="https://ureyes.vercel.app/" />
<meta property="og:title" content="UrEyes" />
<meta
  property="og:description"
  content="UrEyes adalah aplikasi web modern yang dirancang untuk pecinta film. Dibangun dengan performa dan interaktivitas sebagai prioritas, aplikasi ini memungkinkan pengguna untuk menjelajahi film populer, mencari judul favorit, serta mengelola daftar tontonan (Playlist) dan film yang disukai (Likes) secara personal."
/>
<meta property="og:image" content="https://ureyes.vercel.app/img/banner.png" />
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content="https://ureyes.vercel.app/" />
<meta property="twitter:title" content="UrEyes" />
<meta
  property="twitter:description"
  content="UrEyes adalah aplikasi web modern yang dirancang untuk pecinta film. Dibangun dengan performa dan interaktivitas sebagai prioritas, aplikasi ini memungkinkan pengguna untuk menjelajahi film populer, mencari judul favorit, serta mengelola daftar tontonan (Playlist) dan film yang disukai (Likes) secara personal."
/>
<meta property="twitter:image" content="https://ureyes.vercel.app/img/banner.png" />
